.form-container {
  width: 350px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background: url("./assets/bg-form.jpg") no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.backdrop-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
