.pagination {
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.custom-icon {
  cursor: pointer;
}

.custom-icon:hover {
  cursor: crosshair;
}

.max-height {
  height: calc(100vh - 200px);
}
