.profile-img img {
  border: 1px solid black;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 200px;
  width: auto;
}

.profile-img {
  transform: scale(1);
  transition: all 1s;
}

.profile-img:hover {
  transform: scale(1.3) translate(20px, 0px);
}
