.my-box {
  width: 300px;
  padding: 20px;
  text-align: center;
}

.my-box img {
  height: 150px;
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 10px;
}

.my-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.max-height {
  height: calc(100vh - 120px);
  overflow: hidden;
}
